build/
cmake-build-*/
out/


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile


MiniGit
main
*.exe
*.out
*.app


*.o
*.obj
*.a
*.so
*.dylib
*.dll


.vscode/


.DS_Store


*.log


.mg/


*.tmp
*.swp
*.swo
*~